.nav-ul{
    color: black;
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	gap: 100px;

}
.nav-ul > li{
    border: 1px solid tranrsparent;
}
.nav-ul > li:hover{

border-bottom: 1px solid red;
border: none;
}